{% extends "base.html" %}
{% block content %}
<main class="container pt-5">
    <br><br><br>
<div class="card mx-xl-5">

        <div class="card-body">
    
            <form method="POST">
                <p class="h4 text-center py-4">Создание задачи</p>
    
                <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Название</label>
                <input type="text" id="defaultFormCardNameEx" class="form-control" name="name" value="{{ problem.name }}">
    
                <br>
                
                <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Дата выполнения</label>
                <input type="text" id="defaultFormCardEmailEx" class="form-control" name="time_end" value="{{ problem.time_end }}">

                <br>

                <div class="md-form">
                    <textarea  name="description" type="text" id="form7" class="form-control md-textarea" rows="3">{{problem.statement}}</textarea>
                    <label for="form7" class="">Описание</label>
                </div>

                <select name="solver">
                    {% for user in users %}
                        {% if user.id == problem.solver_id %}
                            <option value="{{ user.id }}" selected>{{ user.login }}</option>
                        {% else %}
                            <option value="{{ user.id }}">{{ user.login }}</option>
                        {% endif %}
                    {% endfor %}
                </select>


                <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Выполненность</label>
                <input type="text" id="defaultFormCardNameEx" class="form-control" name="completion_stage" value="{{ problem.completion_stage }}">

    
                <div class="text-center py-4 mt-3">
                    <button class="btn btn-outline-purple" type="submit">Добавить<i class="fa fa-paper-plane-o ml-2"></i></button>
                </div>
            </form>
    
        </div>
    
    </div>
    <br><br>
</main>
{% endblock %}