{% extends "base.html" %}

{% block content %}
<main class="mt-5 pt-4 mr-auto ml-auto">
    <div class="mb-4 mt-5 container">
        <form action="" method="post">
            <section class="form-simple" style="width: 480px; ">

                <!--Form with header-->
                <div class="card">

                    <!--Header-->
                    <div class="header pt-3 grey lighten-2">

                        <div class="row d-flex justify-content-start">
                            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Регистрация прошла успешно!</h3>
                        </div>

                    </div>
                    <!--Header-->

                    <a href="/login" class="dark-grey-text font-weight-bold ml-1"> Войти </a>

                </div>
                <!--/Form with header-->

            </section>
        </form>
        </div>
    </div>
</main>
{% endblock %}
